body {
    font-family:Arial;
}
h1{
    text-align:center;
}

.results {
    width: 220px;
}

.info-container{
    width:350px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}